* {
	font-family: "Verdana", sans-serif; font-size: 20px;
	font-size: 20px;
}

#paragraph-3 {
	color: #04471C;
}

h1 {
	font-size: 30px;
}

#uppercase {
	text-transform: uppercase;
}

.languages {
	background-color: #058C42;
}

li[style] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h4 ~ ul {
	text-align: left;
	letter-spacing: 5px;	
}

section > h4 {
	letter-spacing: 5px;
}

ul {
	list-style-type: none;
}

h4 ~ p {
	text-align: center;
}