/*--ctrl / - comment--*/

/*
	CSS Rules
	syntax:

		selector {
			property: value;
		}

		h1 {
			color: yellow
		}

*/

/*--Universal Selector--*/
* {
	font-family: "Courier new", monospace;
	font-size: 20px;
}

body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

/*--navigation bar--*/
nav {
	background-color: white;
}

/*--selector: hover pseudo class--*/
/*--changes the style when hovered over--*/

a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

/*--Type Selector--*/
/*--tag--*/
h1 {
	color: yellow !important;
	text-align: center;
	font-size: 2rem;
}

/*--landing section--*/
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	letter-spacing: 25px;
}

/*--ID Selector--*/
/*--#id-name--*/
#zuitt-motto {
	letter-spacing: 5px;
}

ol {
	list-style-type: none;
}
/*--Class Selector--*/
/*--.class-name--*/
.offering-item {
	text-transform: uppercase;
}

/*--Attribute selector--*/
/*--tagname[attribute]--*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*--adjacent sibling selector--*/
/*--selector + selector--*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*--decendant selector--*/
/*--selector selector--*/
#bootcamp-learning-list li {
	color: #075966;
}

/*--General Sibling Selector--*/
/*--Selector ~ selector--*/
h2 ~ a {
	text-decoration: none;
}

form {
	text-align: center;
	background-color: white;
	border-width: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;

}

/*--Child Selector--*/
/*--selector > selector--*/

body > section > form > label {
	color: rgb(0, 0, 128);
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}